{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="../../static/img/ann.jpg" style="height: 500px; width:auto;" alt="rose">
        </div>
        <div class="col-md-6">
            {{wtf.quick_form(form)}}
        </div>
        <div class="col-md-3">
            <img src="../../static/img/ann.jpg" style="height: 500px; width:auto;" alt="rose">
        </div>
    </div>
</div>

<style>
    body {
        /* background-image: url("../static/img/anne.jpg");
        background-repeat: no-repeat;
        background-size: cover; */
        background-color: #D7D8DA;
    }
</style>
{% endblock %}